@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="title">Privacy Policy</h1>

<p class="content">We value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, disclose, and safeguard your data when you visit our website or use our services.</p>

<h2 class="subtitle">Information We Collect</h2>
<p class="content">We may collect personal information such as your name, email address, and contact details when you voluntarily provide it to us. Additionally, we may automatically collect certain information about your device, including your IP address, browser type, and operating system.</p>
<h2 class="subtitle">Information Sharing and Disclosure</h2>
<p class="content">We do not sell, trade, or otherwise transfer your personal information to third parties without your consent. However, we may share your information with trusted third parties who assist us in operating our website, conducting our business, or servicing you.</p>